
<div class="headline">
  <h1>Berkeley Extension: Quiz One</h1>
</div>
<hr>

<h2>Requirements:</h2>

<div class="requirements">
  <ul>
    <li>This should be a rails application, not a plain HTML page.</li>
    <li>The web application has a page with static content on it.</li>
    <li>The web application is hosted on Heroku.</li>
    <li>The code for the application is hosted on GitHub.</li>
    <li>There is a headline on the page of the application that is a non-black color.</li>
  </ul>
</div>
