// Place all the styles related to the quizone controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.headline {
  color: blue;
  font-size: 30px;
}

.requirements {
  color: red;
  font-style: italic;
}
